:host{
  background: black;
  color: white;
}
input{
  display: block;
  margin: 5px;
  border: 1px solid white;
}
button{
  background: black;
  color: white;
  border-width: 0;
  padding: 8px;
}
form{
  background: black;
}
h1{
  background: black;
  margin-bottom: 0;
}
div{
  background: black;
}
