
<div>
  <h1>Login</h1>
  <form>
    <div>
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
    </div>
    <button>Einloggen</button>
  </form>
</div>
<div>
  <h1>Register</h1>
  <form>
    <div>
      <input type="text" placeholder="Username" name="username">
      <input type="text" placeholder="Email" name="email">
      <input type="password" placeholder="Password" name="password">
      <input type="password" placeholder="Repeat Password" name="repeatedPassword">
    </div>
    <button>Register</button>
  </form>
</div>

