<div class="handCards">
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
</div>
<div class="matchfield">
  <OCG-lane class="biot"></OCG-lane>
  <div class="border">
    <OCG-hero-slot class="top"></OCG-hero-slot>
    <OCG-graveyard></OCG-graveyard>
    <OCG-hero-slot class="bot"></OCG-hero-slot>
  </div>
  <OCG-lane class="magic"></OCG-lane>
</div>
<div class="handCards">
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
  <OCG-card-slot></OCG-card-slot>
</div>