.matchfield{
    display: flex;
    height: 700px;
}
.handCards{
    display: flex;
    width: 100%;
    justify-content: center;
}
:host{
    height: 100%;
}
.machine{
    background: red;
}
.magic{
    background: blue
}
.biot{
    background: green;
}
.babarian{
    background: yellow;
}
OCG-lane{
    width: 33%;
    overflow: hidden;
}
.border{
    width: 33%;
    text-align: center;
}
.border OCG-graveyard{
    position: relative;
    top: 250px;
}
.border .top{
    position: relative;
    top: 0;
}
.border .bot{
    position: absolute;
    bottom: 0;
}