<h2>Regeln</h2>
  <h3>Spielstart:</h3>
  <p>
    - Heldenwahl, Gegner sieht Heldenstats
    - Deck auswählen (alles blind)
    - Lanetypen wählen
    - Coinflip bestimmt Startspieler
    - Starthand: 2 sichere Kreaturen, dann 5 zufällige Karten aus dem Deck
    - Austauschen der Hand am Anfang
  </p>

  <h3>Spielelemente:</h3>
    <h4>Friedhof:</h4>
    <p>
      Karten, die das Spielfeld verlassen, und nicht explizit auf die Hand oder ins Deck zurückgegeben werden, werden oben auf den gemeinsamen Friedhof gelegt. Beide Spieler können mit Effekten auf ALLE Karten im Friedhof zugreifen.
    </p>
    <h4>Lanes:</h4>
    <p>
      Die zwei Spielfeldhälften. Jeder Spieler kann für eine Lane den Typ, und damit die Buffs und Debuffs für beide Spieler auf dieser Lane bestimmen. Karten die auf einer Lane gesetzt werden, können nicht auf die andere Lane zugreifen (außer ein Effekt erlaubt es).
    </p>
    <h4>Kreaturen:</h4>
    <p>
      Karten, die At, Df, HP und Ausdauer-Punkte haben. Sie werden in den Kreatur-Slots gesetzt. Nur Kreaturen können selbstständig am Kampf teilnehmen. Kreaturen werden im Schlafmodus gespielt und automatisch in der ersten Refresh-Phase nach setzen aufgeweckt. Kreaturen können grundsätzlich unterschiedliche Zählmarken speichern (relevant für manche Effekte)
      Verdeckte Kreaturen zwei Züge warten
      Verdeckt Kreaturen können nicht angegriffen werden
    </p>
    <h4>Effekte:</h4>
    <p>
      Karten, die keine eigenen Stats haben. Effekte müssen in passenden Effektslots gesetzt werden, bevor sie aktiviert werden können. Effekte nehmen nicht selbstständig am Kampf teil.
    </p>
    <h4>Helden:</h4>
    <p>
      Dein Avatar im Spiel. Helden bringen verschiedene Spielmodifikationen mit sich. Das Überleben des Helds ist für das Fortlaufen des Spiels notwendig.
    </p>
    <h4>Deck:</h4>
    <p>
      Die Sammlung an Karten, die du ins Spiel mitnimmst. Es gibt keine Vorschriften zur Größe des Decks. ABER: Mehr Karten reduzieren die Wahrscheinlichkeit auf das Ziehen einer bestimmten Karte, weniger Karten erhöhen das Risiko auf Niederlage durch Kartenmangel. (Idee für maximale Anzahl einer Karte im Deck: maximale Manaanzahl generell: 12 -> Maximal 20 Mana einer Karte im Deck)
    </p>
    <h4>Mana:</h4>
    <p>
      Kosten für Karten, werden in der Refresh-Phase wiederhergestellt
    </p>
    <h4>Ausdauer:</h4>
    <p>
      Kosten für Aktionen von Kreaturen. Standard-Ausdauer: 10
      Ausdauer der Minons wird laneweit geteilt
    </p>
  <h3>Kampf:</h3>
  <p>
    - Eine Kreatur kann eine andere Kreatur, oder - falls ungedeckt - den gegnerischen Helden angreifen. Die At der angreifenden Kreatur werden von den HP der verteidigenden Kreatur abgezogen. Die Df der verteidigenden Kreatur/Held werden von den HP der angreifenden Kreatur abgezogen.
    - [System: Schadensberechnung erfolgt für beide Kampfteilnehmer gleichzeitig, dann wird geprüft, ob noch HP übrig sind. Effekt. First Strike]
    - Kein durchschlagender Kampfschaden, evtl. durch Effekte
  </p>
	
  <h3>Zugablauf:</h3>
  <ol>
    <li>(falls du keine Karte in der Hand hast ziehe 1 Karte</li>
    <li>Refresh-Phase (Ausdauer, Mana, evtl. HP Punkte der Helden und Kreaturen werden wiederhergestellt)</li>
    <li>Main-Phase (Solange noch Mana oder Ausdauer-Punkte verfügbar sind, können beliebige Aktionen durchgeführt werden)</li>
    <li>End-Phase (Eventuell greifen noch Reaktionseffekte, ansonsten den Zug beenden)</li>
    <li>Karte nachziehen</li>
  </ol>
  <h3>Spielende:</h3>
  <ol>
    <li>Die HP eines der Helden sinken auf 0</li>
    <li>Ein Spieler müsste eine Karte nachziehen, aber hat keine Karten mehr im Deck</li>
    <li>Ein Spieler verliert die Verbindung oder gibt auf</li>
  </ol>
	<p> 
    Einige Minions bekommen einen Grundeffekt
    Karten die in die Hand des Gegners schauen, Handkarten zerstören, anschauen können (Kartenzerstörung, Zufall, Geziehlt)
  </p>
	

