<div class="top">
  <div class="matchfieldCardSlot effectSlots">
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
  </div>
  <div class="matchfieldCardSlot creatureSlots">
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
  </div>
</div>
<div class="bot">
  <div class="matchfieldCardSlot creatureSlots">
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
    <OCG-card-slot name="Creature"></OCG-card-slot>
  </div>
  <div class="matchfieldCardSlot effectSlots">
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
    <OCG-card-slot name="Effekt"></OCG-card-slot>
  </div>
</div>